<div class="row">
  <div class="col-sm-6">
    <%= form_for @accommodation, :url => admin_accommodations_path, :html => {:multipart => true, :class => 'form-horizontal well'} do |f| %>
        <% if @accommodation.errors.any? %>
            <div class="error_explanation">
              <h2><%= pluralize(@accommodation.errors.count, "error") %> prohibited this signature from being
                saved:</h2>

              <ul>
                <% @accommodation.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <fieldset>
          <div class="form-group">
            <%= f.label :name, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :name, :required => true, :size => '65', :class => 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :email, :class => 'control-label' %>
            <div class="controls">
              <%= f.email_field :email, :required => true, :size => '65', :class => 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :contact_number, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :contact_number, :required => true, :size => '11', :class => 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :image, :class => 'control-label' %>
            <div class="controls">
              <%= f.file_field :image, :required => true, :class => 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :address, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :address, :required => true, :size => '65', :class => 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :latitude, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :latitude, :class => 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :longitude, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :longitude, :class => 'form-control'%>
            </div>
          </div>
        </fieldset>
        <div class="form-actions">
          <%= f.submit 'save', :class => 'btn btn-primary' %>
        </div>
    <% end %>
  </div>
</div>