<div class="row">
  <div class="col-sm-8 col-md-6">
    <%= form_for @address, :url => "/admin/guests/address/create", :html => {:class => 'form-horizontal', :role => 'form'} do |f| %>
        <%= collection_select(:guest_address, :guest_id, @guests, :id, :name, {}, :class => 'form-control') %>
        <div class="form-group">
          <%= f.label :street_1, 'Street Address line 1' , :class => 'col-sm-12' %>
          <div class="col-sm-12">
            <%= f.text_field :street_1, :required => true, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :street_2, 'Street Address line 2', :class => 'col-sm-12' %>
          <div class="col-sm-12">
            <%= f.text_field :street_2, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :suburb, 'Suburb', :class => 'col-sm-12' %>
          <div class="col-sm-12">
            <%= f.text_field :suburb, :required => true, :class => 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :region, 'Province / County', :class => 'col-sm-12' %>
          <div class="col-sm-12">
            <%= f.text_field :region, :required => true, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :postcode, 'Postal Code / Zip Code', :class => 'col-sm-12' %>
          <div class="col-sm-6 col-md-5">
            <%= f.text_field :postcode, :required => true, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :country_id, 'Country', :class => 'col-sm-12' %>
          <div class="col-sm-6 col-md-5">
            <%= collection_select(:guest_address, :country_id, Country.all, :id, :name, {:selected => 202}, :class => 'form-control') %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <%= button_tag 'save', :class => 'btn btn-primary' %>
          </div>
        </div>
    <% end %>
  </div>
</div>
