<h1>GuestLists#show</h1>
<p>Find me in app/views/guest_lists/show.html.erb</p>
<%= @guest.name %>
<%= @guest_address.street_1 %>
<%= @guest_address.street_2 %>
<%= @guest_address.suburb %>
<%= @guest_country.name %>