<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Wedding of Gavin and Carolene" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Wedding of Gavin and Carolene" %>">
    <link href='http://fonts.googleapis.com/css?family=Alice' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="visible-xs navbar-mobile">
      <%= render 'layouts/index_navigation' %>
    </div>
    <main role="main" class="container index-page">
       <%= render 'layouts/messages' %>

       <%= yield %>
    </main>
  </body>
</html>
